<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcels</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h2>Parcel for @Model.Recipient </h2>
      <p>Dimensions:</p>
      <ul>
        <li>Height: @Model.Height </li>
        <li>Width: @Model.Width </li>
        <li>Length: @Model.Length </li>
      </ul>
      <p><strong>Volume: @Model.Volume() </strong></p>
      <p><strong>Shipping Cost: $@Model.CostToShip() </strong></p>
      <a href='/parcels'><button>See your packages</button></a>
    </div>
  </body>
</html>